@media (max-width: 1200px) {

    // ============ HEADER =============
    .header {
        height: 1710px;

        &__title {
            font-size: 170px;
        }
    }

    // ============ HEADER =============

    // ============ SERVICES =============
    .services {
        padding: 60px 0;
    }

    // ============ SERVICES =============

    // ============ TASTY =============
    .tasty {
        padding: 60px 140px;
    }

    // ============ TASTY =============

}

@media (max-width: 1024px) {

    // ============ TASTY =============
    .tasty {
        padding: 40px 80px;

        &__title {
            font-size: 170px;
        }
    }

    // ============ TASTY =============

    // ============ BLOG =============
    .blog {
        padding-top: 50px;
    }

    // ============ BLOG =============
    .blog {
        &__brend {
            justify-content: center;

            &-item {
                width: 30%;
                margin-bottom: 30px;

                img {
                    width: 100%;
                    max-height: 200px;
                }
            }
        }
    }

    // ============ BLOG =============

}

@media (max-width: 768px) {

    // ============ Menu =============
    .menu {
        &__wrapper {
            width: 100%;
        }

        &__burger {
            display: block;
        }

        &__nav {
            display: none;

            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            background-color: #2b323e;
        }

        &__nav.active {
            display: block;
        }

        &__list {
            display: block;

            li {
                margin: 5px 0;
                padding: 10px 20px;
            }

            a {
                &:after {
                    bottom: -1px;
                }
            }
        }

        .btn {
            display: none;
        }
    }

    // ============ Menu =============

    // ============ HEADER =============
    .header {
        height: 1200px;

        &__title {
            text-align: center;
            font-size: 150px;
        }
    }

    // ============ HEADER =============

    // ============ INTRO =============
    .intro {
        bottom: -320px;

        &__box {
            height: auto;
        }

        &__item:not(:nth-child(4)) {
            font-size: 25px;
        }

        &__item:nth-child(4) {
            font-size: 30px;
        }

        &__title {
            padding: 80px 30px;
        }

        &__text {
            bottom: 15px;
            left: 15px;
        }
    }

    // ============ INTRO =============


    // ============ SERVICES =============
    .services {
        padding: 30px 0;

        &__item {
            width: 33.3333%;
            margin-bottom: 30px;
        }
    }

    .title {
        margin: 0 auto 50px auto;

        h2 {
            font-size: 35px;
        }

        p {
            font-size: 14px;
        }
    }

    // ============ SERVICES =============

    // ============ PERFECT =============
    .perfect {
        padding: 70px 0 210px 0;

        &__title {
            font-size: 30px;
        }

        &__text {
            font-size: 12px;
            margin-bottom: 30px;
        }
    }

    // ============ PERFECT =============

    // ============ RAW =============
    .raw {
        &__item {
            width: 50%;
        }
    }

    // ============ RAW =============

    // ============ TASTY =============
    .tasty {
        padding: 40px 40px;

        &__title {
            font-size: 150px;
        }
    }

    // ============ TASTY =============

    // ============ PROGRESS =============
    .progress {
        padding: 50px 0;

        &__item {
            width: 45%;
            justify-content: center;
            margin-bottom: 50px;
        }

        &__text {
            h3 {
                font-size: 40px;
            }
        }
    }

    // ============ PROGRESS =============

    // ============ ABOUT =============
    .about {
        padding: 50px 0;

        &__text {
            font-size: 20px;
            margin-bottom: 25px;
        }
    }

    // ============ ABOUT =============

    // ============ BLOG =============
    .blog {
        &__brend {
            margin-bottom: 50px;
        }

        &__data {
            padding: 5px;

            h3 {
                font-size: 20px;
            }

            p {
                font-size: 12px;
            }
        }

        &__text {
            bottom: 15px;
        }

        &__title {
            font-size: 10px;
            margin-bottom: 8px;
        }

        &__subtitle {
            font-size: 14px;
        }
    }

    // ============ BLOG =============

    // ============ FOOTER =============
    .footer {
        padding-top: 50px;
    }

    // ============ FOOTER =============
}

@media (max-width: 600px) {

    // ============ HEADER =============
    .header {
        &__title {
            font-size: 110px;
        }
    }

    // ============ HEADER =============

    // ============ INTRO =============
    .intro {
        &__item:not(:nth-child(4)) {
            font-size: 20px;
        }

        &__item:nth-child(4) {
            font-size: 25px;
        }

        &__title {
            padding: 100px 15px;
        }

        &__text {
            bottom: 10px;
            left: 10px;
        }
    }

    // ============ INTRO =============

    // ============ TASTY =============
    .tasty {
        padding: 40px 40px;

        &__title {
            font-size: 100px;
        }
    }

    // ============ TASTY =============

    // ============ GALLERY =============
    .gallery {
        &__col {
            width: 50%;
        }
    }

    // ============ GALLERY =============

    // ============ ABOUT =============
    .about {

        &__text {
            font-size: 18px;
        }

    }

    // ============ ABOUT =============

    // ============ BLOG =============
    .blog {
        &__items {
            margin-bottom: 30px;
        }

        &__brend {
            margin-bottom: 30px;
        }

        &__item {
            width: 100%;
            margin-bottom: 15px;
        }

        &__data {
            padding: 10px;

            h3 {
                font-size: 25px;
            }

            p {
                font-size: 14px;
            }
        }

        &__text {
            bottom: 30px;
        }

        &__title {
            font-size: 25px;
            margin-bottom: 15px;
        }

        &__subtitle {
            font-size: 20px;
        }
    }

    // ============ BLOG =============

    // ============ FOOTER =============
    .footer {
        &__menu {
            margin-bottom: 30px;
        }

        &__contact {
            margin-bottom: 40px;
        }

        &__phone {
            h3 {
                font-size: 12px;
            }

            p {
                font-size: 12px;
            }
        }
    }

    // ============ FOOTER =============
}

@media (max-width: 480px) {

    // ============ HEADER =============
    .header {
        &__title {
            font-size: 80px;
        }
    }

    // ============ HEADER =============

    // ============ INTRO =============
    .intro {
        &__item:not(:nth-child(4)) {
            font-size: 18px;
        }

        &__item:nth-child(4) {
            font-size: 20px;
        }

        &__title {
            padding: 100px 15px;
        }

        &__text {
            bottom: 10px;
            left: 10px;
        }
    }

    // ============ INTRO =============

    // ============ SERVICES =============
    .services {
        padding: 20px 0;

        &__item {
            width: 50%;
            margin-bottom: 35px;
        }
    }

    .title {
        margin: 0 auto 40px auto;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 12px;
        }
    }

    // ============ SERVICES =============

    // ============ PERFECT =============
    .perfect {
        padding: 40px 0 170px 0;

        &__title {
            font-size: 26px;
        }

        &__text {
            font-size: 12px;
            margin-bottom: 30px;
        }
    }

    // ============ PERFECT =============

    // ============ RAW =============
    .raw {
        &__item {
            width: 50%;

            h3 {
                font-size: 14px;
            }

            p {
                font-size: 12px;
            }
        }
    }

    // ============ RAW =============

    // ============ TASTY =============
    .tasty {
        padding: 40px 40px;

        &__title {
            font-size: 70px;
        }
    }

    // ============ TASTY =============

    // ============ ABOUT =============
    .about {

        &__text {
            font-size: 16px;
            padding-left: 30px;
        }

        &__name {
            font-size: 16px;
        }

        &__icon {
            display: none;
        }

        &__person {
            display: none;
        }

        &__slider {
            .slick-dots {
                bottom: 0;
            }
        }


    }

    // ============ ABOUT =============

    // ============ FOOTER =============
    .footer {
        .logo {
            display: none;
        }
        &__menu {
            justify-content: space-around;
        }
        &__contact {
            .item {
                width: 100%;
                text-align: center;
                margin-bottom: 15px;
            }
        }
        &__icon-list {
            justify-content: center;
        }
        &__copy {
            padding: 15px 0;
        }
        &__copy-item {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }

    }

    // ============ FOOTER =============

}

@media (max-width: 320px) {

    // ============ HEADER =============
    .header {
        &__title {
            font-size: 80px;
        }
    }

    // ============ HEADER =============

    // ============ INTRO =============
    .intro {
        &__item:not(:nth-child(4)) {
            font-size: 12px;
        }

        &__item:nth-child(4) {
            font-size: 12px;
        }

        &__title {
            padding: 100px 10px;
        }

        &__text {
            bottom: 10px;
            left: 10px;
        }
    }

    // ============ INTRO =============

    // ============ SERVICES =============
    .title {
        h2 {
            font-size: 22px;
        }
    }

    // ============ SERVICES =============

    // ============ RAW =============
    .raw {
        &__item {
            width: 100%;

            h3 {
                font-size: 14px;
            }

            p {
                font-size: 12px;
            }
        }
    }

    // ============ RAW =============

    // ============ TASTY =============
    .tasty {
        padding: 40px 15px;

        &__title {
            font-size: 50px;
        }
    }

    // ============ TASTY =============

    // ============ PROGRESS =============
    .progress {
        padding: 30px 0;

        &__item {
            width: 100%;
        }
    }

    // ============ PROGRESS =============

    // ============ BLOG =============
    .blog {
        &__data {
            padding: 5px;

            h3 {
                font-size: 20px;
            }

            p {
                font-size: 12px;
            }
        }

        &__text {
            bottom: 20px;
        }

        &__title {
            font-size: 18px;
            margin-bottom: 15px;
        }

        &__subtitle {
            font-size: 16px;
        }
    }

    // ============ BLOG =============
}