@import "vars";
@import "libs";
@import "fonts";


// =============== BLOKS ===============
@import "blocks/header";
@import "blocks/menu";
@import "blocks/intro";
@import "blocks/previous";
@import "blocks/services";
@import "blocks/perfect";
@import "blocks/raw";
@import "blocks/tasty";
@import "blocks/progress";
@import "blocks/gallery";
@import "blocks/about";
@import "blocks/blog";
@import "blocks/footer";
// =============== BLOKS ===============



*,
*:after,
*:before {
    box-sizing: border-box;
}



.btn {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    border: 1px solid #474e5d;
    padding: 18px 36px;
    border-radius: 50px;
    outline: none;
    background-color: #fff;
    width: 160px;
    cursor: pointer;
    transition: all .2s linear;

    &:hover {
        background-color: #fcdb5a;
        color: #fff;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


.title {
    text-align: center;
    max-width: 570px;
    margin: 0 auto 80px auto;
    h2 {
        font-size: 40px;
        color: #000;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 20px;

        span {
            font-family: 'Gilroy-ExtraBold';
        }
    }

    p {
        font-size: 18px;
        color: #b3b3b3;
        font-weight: 300;
        line-height: 1.5;
    }

}












@import "media";